// Neutrals
$black: #000;
$gray-dark-60: #222;
$gray-dark-30: #474747;
$gray-dark-40: #3d3d3d;
$gray: #666;
$gray-light-50: #b3b3b3;
$gray-light-30: #ddd;
$gray-light-20: #eee;
$gray-light-10: #f7f7f7;
$white: #fff;
$clear: rgba(0, 0, 0, 0);

// Scarlet
$scarlet: #bb0000;
$scarlet-dark-40: #700000;
$scarlet-dark-60: #4b0000;

// Orange
$orange: #d65828;
$orange-light-20: #f7ded4;
$orange-light-80: #de7953;
$orange-dark-10: #c04f24;
$orange-dark-20: #ab4620;
$orange-dark-40: #803518;

// Gold
$gold: #dcaa38;
$gold-light-20: #f8eed7;
$gold-light-80: #e3bb60;
$gold-dark-10: #c69932;
$gold-dark-20: #b0882d;
$gold-dark-40: #846622;

// Cream
$cream: #ffeaae;
$cream-light-20: #fffbef;
$cream-light-80: #ffeebe;
$cream-dark-10: #e5d29c;
$cream-dark-20: #ccbb8b;
$cream-dark-40: #998c68;

// Clay
$clay: #dddec6;
$clay-light-20: #f8f8f4;
$clay-light-80: #e4e5d1;
$clay-dark-10: #c6c7b2;
$clay-dark-20: #b1b29e;
$clay-dark-40: #858577;

// Lemon
$lemon: #dfdf48;
$lemon-light-20: #f6f9da;
$lemon-light-80: #dde56d;
$lemon-dark-10: #bec841;
$lemon-dark-20: #aab23a;
$lemon-dark-40: #7f862b;

// Olive
$olive: #909738;
$olive-light-20: #e9ead7;
$olive-light-80: #a6ac60;
$olive-dark-10: #818832;
$olive-dark-20: #73792d;
$olive-dark-40: #565b22;

// Aqua
$aqua: #6ebbab;
$aqua-light-20: #e2f1ee;
$aqua-light-80: #8bc9bc;
$aqua-dark-10: #63a89a;
$aqua-dark-20: #589689;
$aqua-dark-40: #427067;

// Teal
$teal: #26686d;
$teal-light-20: #d4e1e2;
$teal-light-80: #51868a;
$teal-dark-10: #225d62;
$teal-dark-20: #1e5357;
$teal-dark-40: #173e41;

// Blue
$blue: #92b0d7;
$blue-light-20: #e9eff7;
$blue-light-80: #a8c0df;
$blue-dark-10: #839ec1;
$blue-dark-20: #758dac;
$blue-dark-40: #586a81;

// Purple
$purple: #851e5e;
$purple-light-20: #e7d2df;
$purple-light-80: #9d4b7e;
$purple-dark-10: #771b54;
$purple-dark-20: #6a184b;
$purple-dark-40: #501238;

// Violet
$violet: #442369;
$violet-light-20: #dad3e1;
$violet-light-80: #694f87;
$violet-dark-10: #3d1f5e;
$violet-dark-20: #361c54;
$violet-dark-40: #29153f;

// Brown
$brown: #453831;
$brown-light-20: #dad7d6;
$brown-light-80: #6a605a;
$brown-dark-10: #3e322c;
$brown-dark-20: #372d27;
$brown-dark-40: #29221d;

// Accessibility
$focus-blue: #2288ff;
